<h1>Requests</h1>

<ul>
  <% (0...@cat_rental_requests.length).each do |i| %>
    <li>
      <a href="<%= cat_rental_request_url(@cat_rental_requests[i].id) %>">
        <%= @cats[i].name %>
      </a>
    </li>
  <% end %>
</ul>
